.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.itemList {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}
.itemBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 12em;
	height: 16em;
	padding: 0.5em;
	font-size: 0.9em;
	border: 1px solid black;
	h2 {
		font-size: 1em;
	}
}
.lower {
	display: flex;
	flex-direction: column;
	font-size: 0.9em;
}
.recordCount {
	font-size: 0.8em;
}
.itemId {
	margin-left: auto;
	font-size: 0.7em;
	margin-top: 0;
	padding-top: 0;
}
.noDataBox {
	background-color: #dfdfdf;
}
