.main {
	padding: 1em;
}
.chartContainer {
	width: 50em;
	flex-basis: 30em;
	flex-grow: 1;
	max-width: 33%;
	height: 25em;
}
.graphRow {
	display: flex;
	flex-wrap: wrap;
}
.allelesRow {
	display: flex;
	gap: 1em;
}