.panel {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #00000033;
	padding: 1em;
}
.panelHeader {
	font-size: 2em;
	text-align: center;
}
.panelContent {
	flex-grow: 1;
	display: flex;
	gap: 1em;
}
.panelEntry {
	background-color: #eeeeeeaa;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
.error {
	color: #ff0000;
}
.success {
	color: #008800;
}