.display {
	display: grid;
	grid-template-columns: repeat(8, auto);
	width: fit-content;
	gap: 0.2em;
	font-size: 1.2em;
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
	font-weight: normal;
	color: #777777;
}
.windIcon {
	width: 2em;
	height: 2em;
	object-fit: cover;
	object-position: 100% 0;
}
.tooltip {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 100%;
	border: #a3a3a3 2px solid;
	padding: 0.8em;
	user-select: none;
	pointer-events: none;
	font-size: 0.8em;
	width: max-content;
	z-index: 100;
	color: #ffffff;
	background-color: #222222dd;
	border-color: #eeeeee;
	> div {
		display: flex;
		flex-direction: column;
	}
}
.geneContent {
	color: var(--color);
	font-weight: 900;
}
.geneSection {
	position: relative;
	&:hover {
		text-decoration: underline;
		text-decoration-color: #000000;
	}
	span[data-content="?"] {
		color: transparent;
		background-clip: text;
		background-image: linear-gradient(#888888, #444444);
		font-variant-ligatures: none;
	}
	span[data-content="Y"] {
		--color: #5aaf40;
	}
	span[data-content="N"] {
		--color: #b82323;
	}
	&[data-category="species"] {
		span[data-content="C"] {
			--color: #917e53;
		}
		span[data-content="M"] {
			--color: #547dbe;
		}
	}
	&[data-category="wind"] {
		span[data-content="N"] {
			--color: #6692bb;
		}
		span[data-content="S"] {
			--color: #9b5960;
		}
		span[data-content="O"] {
			--color: #b4b4b4;
		}
	}
	&[data-category="fur"] {
		span[data-content="S"] {
			--color: #a19979;
		}
		span[data-content="L"] {
			--color: rgb(151, 65, 65);
		}
	}
	&[data-category="color"] {
		span[data-content="B"] {
			--color: #6b6866;
		}
		span[data-content="O"] {
			--color: #ac7729;
		}
		span[data-content="F"] {
			--color: #b62222;
		}
		span[data-content="D"] {
			--color: #bb6a6a;
		}
		span:last-child {
			--color: #dfdfdf;
			opacity: calc(var(--content) / 4);
		}
	}
	&[data-category="pattern"] {
		span[data-content="T"] {
			--color: #88922a;
		}
		span[data-content="M"] {
			--color: #5a2514;
		}
		span[data-content="S"] {
			--color: #3a3838;
		}
		span[data-content="P"] {
			--color: #b36a6a;
		}
	}
	&[data-category="white"] {
		span[data-content="I"] {
			--color: #b39b30;
		}
		span[data-content="R"] {
			--color: #27c52f;
		}
		span[data-content="L"] {
			--color: #2847af;
		}
		span[data-content="P"] {
			--color: #ac5fcf;
		}
		span[data-content="C"] {
			--color: #a52a2a;
		}
		span:nth-last-child(2) {
			--color: #dfdfdf;
			opacity: calc((11 - var(--content)) / 11);
		}
	}
	&[data-category="growth"] {
		span[data-content="A"] {
			--color: #189714;
		}
		span[data-content="B"] {
			--color: #b89d24;
		}
		span[data-content="C"] {
			--color: #b82d1b;
		}
	}
	&[data-category="accent"] {
		span[data-content="B"] {
			--color: #13518a;
		}
		span[data-content="L"] {
			--color: #8b8b8b;
		}
		span[data-content="R"] {
			--color: #b43828;
		}
		span[data-content="Y"] {
			--color: #a39830;
		}
	}
}
