*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scrollbar-color: #29282c var(--darker);
}

button,
select,
input,
textarea {
	font-family: inherit;
}

button {
	color: inherit;
	width: fit-content;
	padding: 0.3em 0.7em;
	font-size: 1em;
	border: none;
	cursor: pointer;
	background-color: #b5b7be22;
	transition: background-color 0.1s;
	&:hover {
		background-color: #b5b7be33;
	}
	&:active {
		background-color: #b5b7be22;
	}
	&:disabled {
		cursor: not-allowed;
		background-color: #cecece77;
	}
}
img,
canvas {
	image-rendering: pixelated;
}
h1 {
	font-size: 1.4em;
}
input[type="checkbox"] {
	accent-color: var(--darker);
	border-radius: 0;
	width: 1.25em;
	height: 1.25em;
}
select {
	border-radius: 0;
	border: none;
	padding: 0.3em 0.5em;
	background-color: var(--darker);
	color: var(--light);
}
:root {
	--light: #eeeeee;
	--dark: #403f47;
	--darker: #333238;
	--darkest: #2d2c33;
}
body {
	background-color: var(--dark);
	color: var(--light);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: #6b90d6;
}

input,
textarea {
	background-color: var(--darker);
	border: none;
	color: inherit;
	padding: 0.4em 0.8em;
}

.header {
	padding: 0.8em 0;
	width: 100%;
	background-color: #6c8d7c;
	background-image: linear-gradient(#6c8d7c, #497075);
	border-bottom: #dcdec7 3px solid;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		height: round(up, 6.1em, 58px);
		width: auto;
		image-rendering: pixelated;
		z-index: 2;
	}
	.noise {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		mix-blend-mode: soft-light;
		image-rendering: pixelated;
	}
}
