.main {
	display: flex;
	flex-direction: column;
	padding: 1em;
	min-height: 60vh;
}
.topContainer {
	display: flex;
	padding: 1em;
	min-height: 60vh;
}

.itemImage {
	height: 6em;
	width: fit-content;
}

.leftPanel {
	display: flex;
	flex-direction: column;
}

.rightPanel {
	display: flex;
    flex-grow: 1;
}

.chartContainer {
	width: 50%;
}
.shopList {
	display: flex;
	flex-direction: column;
}
.seasons {
	display: flex;
	gap: 0.5em;
	font-weight: bold;
	p[data-season="SPRING"] {
		color: #006400;
	}
	p[data-season="SUMMER"] {
		color: #926904;
	}
	p[data-season="AUTUMN"] {
		color: #8B4513;
	}
	p[data-season="WINTER"] {
		color: #191970;
	}
}
.info {
	display: flex;
	flex-direction: column;
}
.recipeRow {
	display: flex;
    align-items: stretch;
	gap: 0.25em;
	.operator {
		margin: auto 0;
		font-size: 2em;
		font-weight: bold;
	}
}
.ingredientBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 1px solid black;
	padding: 0.5em;
	width: 10em;
	font-size: 0.9em;
	.icon {
		width: fit-content;
		height: 6em;
	}
}
.ingredientPrice {
	font-size: 0.8em;
    display: flex;
	align-items: center;
	justify-content: center;
	.value {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-left: 0.5em;
	}
	.slash {
		margin: 0 0.25em;
	}
}